.form {
  min-height: 100vh;

  &__main {
    margin: 30px 96px;
  }
}

.container {
  &__form {
    display: grid;
    grid-template-areas:
      "task-title task-title"
      "task-input task-input"
      "file-button file-button"
      "contacts-title contacts-title"
      "name company"
      "email phone"
      "url url"
      "privacy privacy"
      "button button";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;

    &-task-title {
      grid-area: task-title;
      height: 40px;
      font-family: var(--font-fam);
      font-size: 36px;
      text-transform: lowercase;
      font-weight: 300;
    }

    &-task-input {
      grid-area: task-input;
      margin-top: 30px;
      height: 40px;
      border: 0;
      border-bottom: 2px solid white;
      background: transparent;
      color: white;
      font-family: var(--font-fam2);
      font-size: 24px;

      &::placeholder {
        color: white;
        font-family: var(--font-fam2);
        font-size: 24px;
      }
    }

    &-contacts-title {
      grid-area: contacts-title;
      height: 40px;
      margin-top: 24px;
      font-family: var(--font-fam);
      font-size: 36px;
      text-transform: lowercase;
      font-weight: 300;
    }

    &-contacts {
      display: contents;

      &-name,
      &-company,
      &-email,
      &-phone {
        height: 40px;
        border: 0;
        border-bottom: 2px solid white;
        background: transparent;
        color: white;
        font-family: var(--font-fam2);
        font-size: 24px;

        &::placeholder {
          color: white;
          font-family: var(--font-fam2);
          font-size: 24px;
        }
      }

      &-name {
        grid-area: name;
        margin-top: 30px;
        margin-bottom: 42px;
      }

      &-company {
        grid-area: company;
        margin-top: 30px;
        margin-bottom: 42px;
      }

      &-email {
        grid-area: email;
      }

      &-phone {
        grid-area: phone;
      }
    }

    &-url {
      grid-area: url;
      margin-top: 42px;
      height: 40px;
      border: 0;
      border-bottom: 2px solid white;
      background: transparent;
      color: white;
      font-family: var(--font-fam2);
      font-size: 24px;

      &::placeholder {
        color: white;
        font-family: var(--font-fam2);
        font-size: 24px;
      }
    }

    &-privacy {
      grid-area: privacy;
      display: flex;
      justify-content: center;
      margin-top: 13px;

      &-policy {
        height: 19px;
        font-family: var(--font-fam2);
        font-size: 13px;
        color: #898887;

        a {
          color: white;
          text-decoration: underline;
          text-decoration-color: white;
        }
      }
    }

    &-button {
      grid-area: button;
      justify-self: center;
      align-self: center;
      margin-top: 28px;
    }
  }
}