html,
body {
  margin: 0;
  padding: 0;
  background: #14110F;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.section{
  padding: 0 96px 0 96px;
}

html {
  scroll-behavior: smooth;
}




